:root  {
    --alice-blue: #EBF4FE;
    --polynesian-blue: #044CA4;
    --uranian-blue: #B4D5FD;
}
textarea {
    resize: none;
}
.no-comments {
    place-self: center;
}
.bg-image-test {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
body, form, header, .title, #loading-indicator, .menu, #post-comment, .page-header i, .background.blog-post .title, .introduction div {
    background: var(--alice-blue);
}
.page-header, .carousel, .blog-header, .preview, .comment-section, .background, .view-more, .battle-call, .mission-statement, .offers li, .blog-posts .title, .favorite-heroes span, form label, .filter > * {
    background: var(--uranian-blue);
}
footer, .cta, .offer, .filter input:checked + label {
    background: var(--polynesian-blue);
    color: white;
}
body, figure, .page-header h1, .menu, .title h3 {   
    margin: 0;
}
body {
    font-family: "outfit", sans-serif;
}
nav, .footer, /*#carousel-wrapper,*/ #post-comment, .share, .share > *, form, .offers, .mission, .socials, .comment, .word-count, .favorite-heroes, .description, .explore, .page-header, .filter, .offers li, .menu {
    display: flex;
}
.footer, form, #carousel-wrapper, #post-comment, .menu, .mission, .offers, .favorite-heroes, .description {
    flex-direction: column;
}
.blog-posts, #carousel-wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}
.footer, .socials, .comment, #carousel-wrapper, .share, .favorite-heroes, .categories, .filter, .explore, .menu, .offers, .blog-posts {
    gap: 1rem;
}
.cta, footer, .description, .newsletter, form, .carousel, .contact-form, .filter, .comment-wrapper > *, .introduction div, .page-header, .page-header i, .introduction, .blog-header, .mission-statement, .offers li, .view-more {
    padding: 1rem;
}
header, .blog-image, .menu, .categories, .modal,#loading-indicator, .blog figure img,.mission img, .battle-call img {
    width: 100%;
}
h1, .socials, .error-message, nav i, .page-header {
    font-size: 2rem;
}
nav, .socials, .word-count, .page-header /*.description*/ {
    justify-content: space-between;
}
nav, .footer, .cta, .page-header, #loading-indicator, .offers li, .socials {
    align-items: center;
}
main {
    margin-top: 100px;
    min-height: 100vh;
}
h1, .cta {
    font-weight: 600;
}

h2, nav, .intro-text {
    font-size: 1.5rem;
    font-weight: 500;
}
.hero-text span {
    font-size: 1.5em;
}
section {
    padding: 2rem 1rem ;
}
.view-more, .filter > * {
    cursor: pointer;
}
.blog figure img {
    height: auto;
}

.cta {
    cursor: pointer;
    border: solid 2px var(--alice-blue);
}
a.cta {
    display: inline-block;
}
.carousel, .mission-statement {
    position: relative;
}
.description {
    box-sizing: border-box;
    justify-content: end;
}
.horizontal a {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto;
}
.horizontal .bg-image {
    aspect-ratio: 1/1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
}
.vertical a {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.vertical .bg-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    grid-column: 2;
    grid-row: 1;
}
.title {
    padding: 0.25rem;
    border-radius: 0.5rem;
    width: fit-content;
    border: solid 1px var(--polynesian-blue);
}
.title h3, .carousel i {
    font-size: 1rem;
}
.carousel button {
    position: absolute;
}
.vertical .bg-image, .vertical p, #check-mark, .fa-solid.fa-x, .preview, .filter input {
    display: none;
}
.description p {
    height: 60px;
    overflow: hidden;
}
.horizontal .bg-image {
    clip-path: ellipse(100% 100% at 100% 0); 
}

nav li, nav a, .modal-image {
    display: block;
}

nav li a {
    padding: 2rem 0;
}
a {
    text-decoration: none;
    color:initial;
}
.modal {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    height: 100%;
    justify-content: center;
    overflow: auto;
    background: rgba(0,0,0,0.9);
}
.close-modal, .share > * {
    color: white;
}
.close-modal {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
}
.modal-image {
    margin: auto;
    width: 80%;
    background: white;
}
.blog img {
    cursor: pointer;
}
#loading-indicator {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    justify-content: center;
}
.loader {
    border: solid 1rem;
    border-top: solid 1rem var(--polynesian-blue);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
.error-message {
    padding: 2rem;
    border-radius: 2rem;
    background: rgba(255, 0, 0, 0.5);
    border: solid 8px red;
}
/* Header */
header {
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0.1rem 0.25rem rgba(0,0,0,0.25);
}
.favorite-heroes span, nav {
    padding: 0.5rem 1rem;
}
nav li, .error-message, .footer div, .categories div, .intro-text, .filter > * {
    text-align: center;
}
.logo, .offers img {
    width: 4rem;
}

.menu {
    position: fixed;
    justify-content: end;
    top: 5rem;
    right: 0;
    max-height: 0;
    transition: max-height 1000ms;
    overflow: hidden;
    padding: 0;
    z-index: 100;
}
.show-menu {
    max-height: 100%;
    box-shadow: 0 0.1rem 0.25rem rgba(0,0,0,0.25);
}
.page-header {
    box-shadow: 0 0.5rem 0.25rem rgba(0,0,0,0.25);
}

/* Footer */
.footer div {
    max-width: 300px;
}
footer .logo {
    background: url(../images/logo.png);
    background-size: contain;
    width: 2rem;
    height: 2rem;
}
.newsletter {
    border: solid;
}
form p {
    margin: 0.25em;
}
form label {
    border: solid 1px;
    padding: 0 0.25rem;
    width: fit-content;
}
.contact-form {
    max-width: 500px;
    margin: auto;
    border: solid var(--polynesian-blue);
    box-shadow: -0.5rem 0.5rem 0.25rem rgba(0,0,0,0.25);
}
form input {
    height: 2rem;
}
form button, form textarea, form input {
    box-shadow: 0 0.5rem 0.25rem rgba(0,0,0,0.25);
    border-width: 1px;
}
form textarea, form input {
    font-family: "outfit", sans-serif;
}
.confirmation, .form-error {
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms;
}
.confirmation {
    color: green;
}
.form-error {
    color: red;
}
.form-animation {
    animation: shake 500ms;
    animation-iteration-count: 2;
}
/* Index */

.hero-text {
    font-size: 3rem;
    text-shadow: -0.5rem 0.5rem 0.25rem rgba(0,0,0,0.25);
}
.hero-text span {
    color: var(--polynesian-blue);
}
.carousel button {
    top: 1em;
}
.previous {
    left: calc(100% - 12em);
}
.next {
    right: 1em;
}

.introduction {
    background-image: url(../images/BloonBackground.jpg);
}
.introduction a {
    margin-top: 1rem;
    text-wrap: nowrap;
}
.categories div, #post-comment, .blog-image img, .offers li, .preview,.mission-statement, .introduction div {
    border-radius: 1rem;
}
.favorite-heroes .blog-post, .carousel {
    background: linear-gradient(45deg, var(--alice-blue), var(--uranian-blue));
    box-shadow: -25px 25px 2px 0px rgba(4, 76, 164, 0.05), -20px 20px 2px 0px rgba(4, 76, 164, 0.10), -15px 15px 2px 0px rgba(4, 76, 164, 0.20), -10px 10px 2px 0px rgba(4, 76, 164, 0.30), -5px 5px 2px 0px rgba(4, 76, 164, 0.40);
}
.favorite-heroes span {
    margin-right: 1rem;
}
.bg-image_1 {
    height: 320px;
    aspect-ratio: 1/1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-image_2, .bg-image_3, .bg-image_4, .bg-image_5 {
    min-height: 160px;
    margin-right: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
.blog-header, .comment-wrapper, .categories {
    display: grid;
}
.categories {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "a a b"
    "c d d"
    "e e e"
    "f g h";
}
.categories div {
    padding: 3rem 0;
    font-size: 1rem;
    font-weight: 600;
    background-size: cover;
    background-position: center;
    background-color: rgba(181, 213, 252, 0.80);
    background-blend-mode: overlay;
    cursor: pointer;
}
.reviews {
    grid-area: a;
    background: url(../images/GlueGunner.webp);
}

.community {
    grid-area: b;
    background-image: url(../images/customMap.jpg);
}
.analysis {
    grid-area: c;
}
.guides {
    grid-area: d;
    background: url(../images/Ouch.webp);
}
.spotlight {
    grid-area: e;
    background: url(../images/ObynGreenFootPortrait.webp);
}
.news {
    grid-area: f;
    background: url(../images/Btd6-39no1.webp);
}
.events {
    grid-area: g;
    background: url(../images/VortexPortrait.webp);
}
.misc {
    grid-area: h;
}
/* Blog-List */
.filter, .share {
    flex-wrap: wrap;
}
.filter {
    border: none;
}
.filter > * {
    padding: 1rem 2rem;
    border-radius: 2rem;
}
.newsletter-form, .offers {
    color: black;
}
.blog-posts article {
    border: solid 1px;
    /*box-shadow: 0 0.5rem 0.25rem rgba(0,0,0,0.25);*/
}
article > * {
    display: grid;
}
.blog-posts a {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.blog-posts .bg-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    grid-column: 2;
    grid-row: 1;
}
.blog-posts .description {
    min-width: 150px;
}
.view-more {
    margin-top: 1rem;
    text-align: center;
    /*box-shadow: 0 0.5rem 0.25rem rgba(0,0,0,0.25);*/
}
/* Blog */
.blog-header {
    justify-items: center;
}
#post-comment {
    height: fit-content;
}
#post-comment input {
    height: 2rem;
}
.blog-image img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.blog-content, .intro-text {
    max-width: 600px;
    margin: auto;
}
.intro-text {
    padding-top: 3rem;
}
.share > * {
    border-radius: 0.5rem;
    align-items: center;
    width: 10rem;
    padding: 0 1rem ;
}
.share p {
    font-size: 0.75rem;
    flex: 1;
    text-align: center;
}
.twitter {
    background: black;
}
.facebook {
    background: #1877F2;
}
.comment {
    border-bottom: solid 1px var(--polynesian-blue);
}
/* About */
.offer {
    background: #0668E0;
}
.offers {
    padding: 0;
}
.offers li {
    height: 12rem;
    gap: 0.5rem;
}
.offers i {
    font-size: 4rem;
}
.mission-statement {
    margin: 0 1rem;
    box-shadow: -0.5rem 0.5rem 0.25rem rgba(0,0,0,0.25);
    top: -4rem;
}

@media (min-width: 576px) {
    /* Header */
    nav {
        padding: 0.5rem 2rem;
    }
    .menu {
        position: relative;
        max-height: fit-content;
        width: fit-content;
        flex-direction: row;
        top: 0;
    }
    nav li a {
        padding: 0;
    }
    .hamburger {
        display: none;
    }

    /* Index */
    .vertical .bg-image, .vertical p, .vertical .title {
        display: block;
    }

    .blog-image {
        height: 400px;
    }
    .categories div {
        font-size: 1.5rem;
    }
}
@media (min-width: 768px) {    
    .introduction, .blog-main {
        display: flex;
    }
    section {
        padding: 2rem;
    }
    .page-header {
        width: 400px;
    }
    /* Index */
    #carousel-wrapper {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 250px 250px;
        align-items: center;
    }
    .vertical {
        grid-column: 2;
    }
    .horizontal {
        grid-column: 1;
        grid-row: 1/3;
    }    
    .carousel {
        flex: 1;
    }
    .carousel button {
        top: 0;
        bottom: 0;
        margin: auto 0;
        height: fit-content;
    }
    .previous {
        left: -2em;
    }
    .next {
        right: -2em;
    }
    .introduction {
        gap: 1rem;
        align-items: center;
    }
    .favorite-heroes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #striker {
        grid-column: 1;
        grid-row: 3;
    }

    /* Blog-List */
    .blog-main {
        flex-direction: row-reverse;
    }
    .filter {
        flex-direction: column;
    }
    .blog-posts {
        grid-template-columns: 1fr 1fr;
    }
    .blog-posts a {
        grid-template-columns: 100%;
        grid-template-rows: 1fr auto;
    }
    .blog-posts .bg-image {
        aspect-ratio: 1/1;
        background-position-y: top;
        background-position-x: center;
        grid-column: 1;
    }
    .filter {
        position: sticky;
        top: 7rem;
    }
    /* Blog */
    .blog-header {
        grid-template-columns: 1fr 2fr;
        gap: 1rem;
        align-items: center;
        padding: 1rem 2rem;
        justify-items: start;
    }
    .post-info {
        grid-column: 1;
        grid-row: 2;
    }
    .blog-image {
        grid-row: 1/3;
    }
    .comment-wrapper {
        grid-template-columns: 1fr 1fr;
    }
    .offers {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .offers li {
        width: calc(50% - 3rem);
    }
    .mission {
        flex-direction: row;
    }
    .mission-statement {
        top: 0;
        left: -4rem;
        place-self: center;
    }
    .battle-call {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 1rem;
    }
    .battle-call img {
        grid-column: 2;
        grid-row: 1/3;
    }
}

@media (min-width: 992px) {
    .modal-image {
        margin: 10vh auto;
        height: 80vh;
        width: unset;
    }
    .blog-posts {
        grid-template-columns: 1fr 1fr 1fr;
    }
    /* Footer */
    .footer {
        flex-direction: row;
        justify-content: space-between;
    }
    /* Index */
    .hero {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    .hero-text {
        max-width: 20rem;
        font-size: 4rem;
    }
    .categories {
        min-width: 500px;
        flex: 1;
    }
    .preview {
        display: block;
        position: relative;
        width: 100%;
    }
    .preview > * {
        position: absolute;
        right: 2em;
        left: 2em;
        top: 2em;
        bottom: 2em;
        opacity: 0;
        transition: opacity 500ms;
    }
    .preview .active {
        opacity: 1;
    }
    .comment-wrapper {
        grid-template-columns: 1fr 2fr;
    }
}
@media (min-width: 1200px) {
    main, nav, .footer {
        max-width: 1200px;
        margin: auto;
    }
    
    main {
        margin-top: 100px;
    }
    
}
@media (hover: hover) {
    .blog-posts .blog-post:hover, .view-more:hover, .filter > *:hover {
        background: rgba(4,76,164,0.1);
    }
    nav a:hover {
        color: var(--polynesian-blue);
    }
    .cta:hover {
        box-shadow: inset 0 0 0.5rem #FFF;
    }
}

@keyframes shake {
    0% {transform: translateX(0);}
    50% {transform: translateX(16px);}
    100% {transform: translateX(0);}
}
@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}